<script lang="ts">
  import ChooseStudents from "./lib/screens/ChooseStudents.svelte";
  import ChooseSupervisor from "./lib/screens/ChooseSupervisor.svelte";
  import End from "./lib/screens/End.svelte";
  import Game from "./lib/screens/Game.svelte";
  import Rules from "./lib/screens/Rules.svelte";
  import Splash from "./lib/screens/Splash.svelte";
  import { gameScreen } from "./stores";

  import cursorPath from "./assets/cursor-bara.png";
  import cursorClickPath from "./assets/cursor-bara-click.png";
  let whipSound;
  let isWhipped = false;
  $: cursor = isWhipped
    ? `url("${cursorClickPath}") 100 45, auto`
    : `url("${cursorPath}") 117 12, auto`;
</script>

<audio src="audio/whack.mp3" bind:this={whipSound} />
<main
  style:cursor
  on:mousedown={() => {
    isWhipped = true;
    whipSound.play();
  }}
  on:mouseup={() => {
    isWhipped = false;
  }}
  on:mouseleave={() => {
    isWhipped = false;
  }}
>
  {#if $gameScreen == "splash"}
    <Splash />
  {:else if $gameScreen == "rules"}
    <Rules />
  {:else if $gameScreen == "choose-supervisor"}
    <ChooseSupervisor />
  {:else if $gameScreen == "choose-students"}
    <ChooseStudents />
  {:else if $gameScreen == "game"}
    <Game />
  {:else if $gameScreen == "end"}
    <End />
  {/if}
</main>

<style>
  main {
    width: calc(16 * 5.2vw);
    height: calc(9 * 5.2vw);
    background-color: white;
  }
</style>
