* {
  box-sizing: border-box;
}

:root {
  font-family: "Comic mono", monospace;
  font-size: 1vw;
  font-weight: 400;
  color: rgba(31, 28, 28, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

.hr {
  border-bottom: solid black 1px;
  width: 100%;
  margin: 0.2vw;
}

#app {
  text-align: center;
  user-select: none;
  position: relative;
  top: 0;
  left: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: whitesmoke;
  cursor: inherit;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.emoji-representation {
  width: 1.2rem;
  position: relative;
  top: 0.3rem;
  background-color: none;
}
