<script lang="ts">
  import { gameState } from "../../stores";
  export let deadlineLength;

  let ratio: number;
  $: {
    ratio = $gameState.ticks / deadlineLength;
  }
</script>

<div
  class="deadline-counter"
  style:width="{ratio * 100}%"
  style:background-color={ratio > 0.97 ? "darkred" : "darkblue"}
/>

<style>
  .deadline-counter {
    height: 100%;
    padding: 0.4vw;
    background-clip: content-box;
    transition: 0.4s;
  }
</style>
