<script lang="ts">
  import Student from "./Student.svelte";
  import { gameState } from "../../stores";
  import bg from "../../assets/background.jpg";
</script>

<div class="wrapper" style="background-image: url('{bg}')">
  {#each Object.values($gameState.students).filter((s) => s.selected) as student}
    <Student studentName={student.name} />
  {/each}
</div>

<style>
  .wrapper {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 49.3vw;
  }
</style>
