<script lang="ts">
  import {
    abilityAttributes,
    studentAttributes,
    supervisorAttributes,
  } from "../../initialSettings";
  import type { StartedPaper } from "../../types";
  import { gameState } from "../../stores";
  import EmojiRepresentation from "./EmojiRepresentation.svelte";

  export let paper: StartedPaper;
</script>

<div class="paper-end">
  <div class="paper-name">
    {paper.name}
  </div>
  <div class="hr" />
  <div>
    {#each paper.abilities as ability}
      <div>
        <EmojiRepresentation {ability} />
        {abilityAttributes[ability].displayName}
      </div>
    {/each}
  </div>
  <div class="hr" />
  <div>
    {#each paper.authors as author}
      {`${studentAttributes[author].displayName}, `}
    {/each}
    {supervisorAttributes[$gameState.supervisor].displayName}
  </div>
</div>

<style>
  .paper-name {
    font-weight: 800;
    font-size: 1.5rem;
    background-color: #e8e8fd;
  }

  .paper-end {
    width: 14vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background-color: #e8e8fd;
  }
</style>
