<script lang="ts">
  import {
    abilityAttributes,
    initialSettings,
    studentAttributes,
  } from "../../initialSettings";
  import { paperIsDone } from "../../paperUtils";
  import { gameState, finishedPapers } from "../../stores";
  import type { StartedPaper, studentList } from "../../types";
  import Bar from "./Bar.svelte";
  import EmojiRepresentation from "./EmojiRepresentation.svelte";

  export let paper: StartedPaper;

  let currentAuthors = [];
  $: currentAuthors = Object.values($gameState.students).filter(
    (s) => s.assignedPaper?.id == paper.id
  );

  function submitPaper() {
    $finishedPapers.push(paper);
    $finishedPapers = $finishedPapers;
    dropPaper();
  }

  function dropPaper() {
    $gameState.workedOnPapers.delete(paper.id);
    $gameState.workedOnPapers = $gameState.workedOnPapers;
  }

  function handleDragPaperInWorks(e: DragEvent, paperId: string) {
    e.dataTransfer.setData("text/plain", paperId);
  }
</script>

<div class="draggable-paper-in-work" draggable="true" class:nobody={currentAuthors.length == 0} on:dragstart={(e) => handleDragPaperInWorks(e, paper.id)}>
  {paper.name}
  <br />
  <!-- Progress: -->
  <ul>
    {#each paper.abilities as ability}
      <li>
        <span class="emoji-representation"
          ><EmojiRepresentation {ability} /></span
        >
        <div class="progress-container">
          <Bar
            spotValue={paper.progress.get(ability)}
            maxValue={initialSettings.paperDoneAt}
          />
        </div>
      </li>
    {/each}
  </ul>
  Assigned to
  {#if currentAuthors.length == 0}
  <u>nobody</u>.
  {/if}
  {#each currentAuthors as s, i}
    {studentAttributes[s.name].displayName}{#if i < currentAuthors.length - 1},<span> </span>{:else}.{/if}
  {/each}
  <!-- <br /> -->
  {#if paperIsDone(paper)}
    <button on:click={submitPaper}>Submit!</button>
  {:else}
    <button on:click={dropPaper}>Drop idea</button>
  {/if}
</div>

<style>
  .draggable-paper-in-work {
    border-radius: 0.5vw;
    background-color: #e8e8fd;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    padding: 0.5vw;
    border-style: solid;
    border-color: darkblue;
    border-width: 0.15vw;
  }

  .progress-container {
    display: inline-block;
    width: calc(100% - 2vw);
  }
  .emoji-representation {
    position: relative;
    top: -0.2vw;
  }

  button {
    background-color: darkblue;
    padding: 2%;
  }

  .nobody {
    opacity: 0.8;
    border-width: 0.075vw;
  }


</style>
